//
//  Config.xcconfig
//  Fiber2D
//
//  Created by Stuart Carnie on 9/8/16.
//  Copyright © 2016 s1ddok. All rights reserved.
//

//LIBRARY_SEARCH_PATHS = $(inherited) $(SRCROOT)/external/SwiftBGFX/SwiftBGFX/.build/debug
//SWIFT_INCLUDE_PATHS  = $(inherited) $(SRCROOT)/external/SwiftBGFX/SwiftBGFX/.build/debug
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 CP_USE_CGTYPES=0 $(inherited)
OTHER_LDFLAGS = $(inherited) -lz
