//
//  macos-overrides.xcconfig
//  Fiber2D
//
//  Created by Andrey Volodin on 07.01.17.
//
//

GCC_PREPROCESSOR_DEFINITIONS = CP_USE_CGTYPES=0

// Intermediate build files go here
PROJECT_TEMP_DIR = $(SRCROOT)/build/$(PROJECT_NAME).build

// Build-related files for the active build configuration go here
CONFIGURATION_BUILD_DIR = $(SRCROOT)/build/$CONFIGURATION

// The final product executables and other build products go here
BUILT_PRODUCTS_DIR = $(SRCROOT)/build/$CONFIGURATION

MACOSX_DEPLOYMENT_TARGET = 10.11

SWIFT_VERSION = 4.0
